body, html{
  font-family: Optima, sans-serif;
  margin: 0px;
  width: 100%;
}

h1{
  margin-left: 45px;
}

#titre1{
  position: absolute;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 40px;
  color: Black;
}

h2{
  margin:0;
}

.cercle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 5px;
}

.cDefaut{
  background: grey;
}

.color1{
  background: #ff80e5ff;
}
.color2{
  background: #ff5555ff;
}
.color3{
  background: #87de87ff;
}
.color4{
  background: #ff9955ff;
}

.color5{
  background: #ffe680ff;
}

.color6{
  background: #80e5ffff;
}

#boutonEtRestart{
  margin: 0 auto;
  width: 380px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
}



/*
.palette{
  float: right;
  display: flex;
  width: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 30px;
  margin-top: 10px;
  background: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 5%;
  margin-right: 55%;
}
*/
#palette{
  margin-left: 20px;
  width: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

/*
#boardGame{
  margin: 0 auto;
  width: 320px;
  padding: 20px;
  align-items: center;
  background: #f0f0f0;
  border-radius: 10px;
  margin-bottom: 20px;
}
*/
#table{
  margin: 0 auto;
  width: 550px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-image: url("bois.jpg");
  padding: 20px;
  border-radius: 20px;
  justify-content: space-around;
}

#boardGame{
  width: 320px;
  padding: 20px;
  background: #f0f0f0;
  border-radius: 10px;
  margin-bottom: 20px;
}

.ligneCercle{
  display: flex;
  justify-content: space-evenly;
}

#colorPicker{
  width: 320px;
  padding: 20px;
  align-items: center;
  background: #f0f0f0;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;

}

.checkColor{
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  justify-content: space-around;
}

.cercleCheck {
	width: 11px;
	height: 11px;
	border-radius: 10px;
	margin: 3px;

}
/*
.colorPicker{
  background: white;
  border-radius: 10px;
  float: right;
  border-right: 50px;
  display: flex;
}
*/



button{
  background:#d9d9d9;
  font-size: 14px;
  border: 0;
  border-radius: 8px;
}

button:hover{
  background: #cdcdcd;
}

.buttonScan{
  padding: 5px;
  margin: 0;
  width: 40px;
  height: 40px;
  color: #535353;
}

.buttonMenu{
  width: auto;
}

#bin{
  width: 25px;
}






.tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 10px 5px;

  /* Position the tooltip */

  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  background: red;
}

.tooltip:hover {
  background: red;
  margin-left: 2000px;
}


#enter{
  margin: 0 auto;
  width: 320px;
  background: #f0f0f0;
  padding: 20px;
  margin-top: 40px;
  border-radius: 20px;
}

/* Style for checkBox*/

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 45px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#helpContainer{

  height: auto;
  width: 300px;
  border-radius: 20px;
  padding: 15px;
}

#checkEtHelp{
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 45px;
  margin-top: 150px;
}

#hRegle{
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 15px;
}

#hHover{
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 15px;
  display: none;
  margin-top: 20px;
  display: none;
}

p{
  color: grey;
  letter-spacing: 1px;
   line-height:20px;
}

#avantTest{
  display: block;
}

#apresTest{
  display: none;
}

#textApresTest{
  opacity: 1;
}

#helpHover{
  color: grey;
}
